nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 15px;
    background-color: @wild-sand;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(246, 246, 246, 0.897);

}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    h1 {
        font-size: 3rem;
    }
}


.navigation {
    .company-nav();
    @media @phone {
        width: 370px;
        margin: 0 auto;
    }
}

.navigation a {
    color: @ebony-clay;
    text-decoration: none;
    font-family: @river-bend;
    font-size: 1.5rem;
}